.intro_section
{
    background: #e3eb00;
}

.headerLinks
{
    margin-left: 35%;
    margin-right: 40%;
}

.blueIntro
{
    background: #00acaf;
}

.introCard
{
    background-color: unset;
    border: unset;
}

.introImageCard
{
    height: 400px;
    width: 400px;

    background-color: #ff869a;

    margin-left: -5%;
    margin-top: -8%;

    border: 20px solid #e3eb00;
    border-radius: 30px;
    transform: rotate(165deg);

    pointer-events: none;
    user-select: none;
}

.img-intro
{
    margin-left: -10px;
    margin-top: -52px;
    transform: rotate(195deg);
}

#title_section
{
    background-color: #00acaf;
}

#projects_section
{
    background-color: #e3eb00;
}

.roundImage
{
    position: absolute;
    height: 350px;
    width: 350px;

    background-color: #ff869a;

    margin-top: -185px;
    margin-left: 5%;
   
    border: 15px solid #e3eb00;
    border-radius: 200px;

}

.spaceShip
{
    height: 500px;
    width: 500px;

    margin-top: -20%;
    margin-left: -35%;
    z-index: -100;

    pointer-events: none;
    user-select: none;
}

.projectTitle
{
    text-align: right;
    margin-right: 15%;
}

.seperatorLine
{
    border-right: 5px solid #00acaf;
    height: 100px;
}