body,html
{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #e3eb00;;
}

.nav-row
{
    height: 10vh;
}

.gameCardColapse
{
    display: block;
    color: black;
    box-shadow: 10px 10px 37px -15px rgb(29 28 13 / 63%);
}

.intro_section
{
    background: #e3eb00;
}

.headerLinks
{
    margin-left: 35%;
    margin-right: 40%;
}

.blueIntro
{
    background: #00acaf;
}

.introCard
{
    background-color: unset;
    border: unset;
}

.introImageCard
{
    height: 465px;
    width: 425px;

    background-color: #ff869a;

    margin-left: -25%;
    margin-top: -5%;

    border: 22px solid #e3eb00;
    border-radius: 30px;
    transform: rotate(165deg);

    pointer-events: none;
    user-select: none;
}

.img-intro
{
    height: 580px;

    margin-left: -40px;
    margin-top: -60px;
    transform: rotate(195deg);
}

.navbar-nav
{
    font-size: 1.6rem !important;
}

.soicalcard
{
    margin: 0 auto;
    width: 80%;

    border: unset;
    background-color:   unset !important;
    border-radius:      unset !important;
    box-shadow: 12px 12px 37px -15px rgb(29 28 13 / 63%);
}

.clickable-icon
{
    font-size: 5em;
}

.card-container
{
    width: 50% !important; 
    margin-top: -10% !important;
}

.card-bottom
{
    width: 100%;
    height: 100%;

    text-align: center;
}

.card-body
{
    padding: unset !important;
}

#title_section
{
    background-color: #00acaf;
}

#projects_section
{
    background-color: #e3eb00;
}

#contacts_section
{
    background-color: #e3eb00;
}
.roundImage
{
    position: absolute;
    height: 350px;
    width: 350px;

    background-color: #ff869a;

    margin-top: -185px;
    margin-left: 5%;
   
    border: 15px solid #e3eb00;
    border-radius: 200px;
}

.spaceShip
{
    height: 500px;
    width: 500px;

    margin-top: -20%;
    margin-left: -35%;
    z-index: -100;

    pointer-events: none;
    user-select: none;
}

.projectTitle
{
    text-align: right;
    margin-right: 15%;
}

.contactTitle
{
    text-align: center;
}

.seperatorLine
{
    border-right: 5px solid #00acaf;
    height: 100px;
}

.soicalCards
{
    margin-top: 10%;
}

.contact-area
{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* -- MEDIA OVERRIDES -- */
@media (min-width: 1500px) 
{ 
    .navbar-nav
    {
        margin-left: 10%;
        font-size: 1.9rem !important;
    }

    .introImageCard
    {
        height: 550px;
        width: 520px;

        margin-left: -5%;
        margin-top: 0;

        border: 26px solid #e3eb00;
    }

    .img-intro
    {
        height: 680px;

        margin-left: -25px;
        margin-top: -70px;
    }
}

@media (max-width: 1200px) 
{ 
    .headerLinks
    {
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .introImageCard
    {
        margin-left: -35%;
        margin-top: 5%;
    }

    .roundImage
    {
        margin-top: -185px;
        margin-left: 0;
    }

    .spaceShip
    {
        height: 500px;
        width: 500px;

        margin-top: -20%;
        margin-left: -35%;
        z-index: -100;

        pointer-events: none;
        user-select: none;
    }
}

@media (max-width: 991.98px) 
{ 
    .headerLinks
    {
        margin-left: 0 !important;
        margin-right: 55%;
    }

    .card-container
    {
        width: 100%         !important; 
        margin-top: 0       !important;
        margin-bottom: 55%  !important;
    }

    .soicalCards
    {
        margin-top: 0;
    }

    .contact-area
    {
        margin-top:5%;
    }

    .social-row
    {
        margin-top: 5%;
    }
}

@media (max-width: 880px) 
{
    .headerLinks
    {
        margin-right: 38%;
    }
}

@media (max-width: 767.98px)
{
    .projectTitle
    {
        text-align: left;
        margin-right: 0;
        margin-left: 20%;
    }

    .project-col
    {
        flex-grow: 0.5;
    }

    .nav-row
    {
        height: auto;
    }
}