.intro_section
{
    background: #e3eb00;
}

.headerLinks
{
    margin-left: 20%;
    margin-right: 45%;
}

.blueIntro
{
    background: #00acaf;
}

.introCard
{
    background-color: unset;
    border: unset;
}

.introImageCard
{
    height: 350px;
    width: 350px;

    background-color: #ff869a;

    margin-left: -30%;
    margin-top: -5%;

    border: 20px solid #e3eb00;
    border-radius: 30px;
    transform: rotate(165deg);
}

.img-intro
{
    margin-left: -50px;
    margin-top: -52px;
    transform: rotate(195deg);
}