.projectCard
{
    background-color: unset !important;
    
}

.projectCard-Image
{
    transition: 0.3s all;
    object-fit: cover; 
    object-position: 50% 50%;
}

.image-full
{
    transition: height 0.5s ease;
    height: 100%;
}

.image-cut
{
    transition: height 0.5s ease;
    height: 20%;
}

.projectCard-Tag
{
    margin-left: 1%;
}

.card-title
{
    display: inline-flex;
}

.projectCard-TagArea
{
    display: inline-flex;
}

.projectCard-FullBody
{
    position: relative;
    color: black;
    box-shadow: 10px 10px 15px -15px rgb(29 28 13 / 63%);
}

@media (max-width: 575.98px) { 
    .projectCard-PreviewText
    {
        font-size: 95%;
    }

    .projectCard-PreviewButton
    {
        font-size: 95%;
    }

    .projectCard-Tag
    {
        font-size: 60%;
    }
 }
